body {
  background-color: black;
  color: white;
  text-align: center;
}

.board-container {
  margin: auto;
}

.cell {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}

.modal {
  background-color: rgb(240, 109, 109);
  border: 3px solid white;
  width: 270px;
  padding: 20px;
  position: absolute;
  top: 32%;
  left: 35%;
}

.hide {
  display: none;
}